<div class="container" ng-controller="DetailCtrl">
	<div class="detailContent">
		<h1>{{painting.title}}</h1>
      	<p>{{painting.description}}</p>
	</div>
	<!-- filter -->
    <div class="filter-menu">
      <div class="container">

        <div class="navbar">
          <div class="custom-navbar-inner">
            <div class="container">
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href=""><em>title</em></a></li>
                  <li class="custom-active"><a href="#">All</a></li>
                  <li><a href="#about">Urban Environments</a></li>
                  <li><a href="#about">Country Landscapes</a></li>
                  <li><a href="#contact">Vintage Automobiles</a></li>
                  <li><a href="#cars">Abstract</a></li>
                  
                </ul>
                
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>

</div> <!-- /container -->