    <!-- Slider -->
    <div class="slider-wrapper">
      <div class="container">
        <img src="http://placehold.it/972x300.png" />
      </div>
    </div>

    <!-- filter -->
    <div class="filter-menu">
      <div class="container">

        <div class="navbar">
          <div class="custom-navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href=""><em>filter by</em></a></li>
                  <li class="custom-active"><a href="#">All</a></li>
                  <li><a href="#about">Urban Environments</a></li>
                  <li><a href="#about">Country Landscapes</a></li>
                  <li><a href="#contact">Vintage Automobiles</a></li>
                  <li><a href="#cars">Abstract</a></li>
                  
                </ul>
                
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio -->
    <div class="portfolio-wrapper" ng-controller="PortfolioCtrl">
      <div class="container">
        <div class="portfolio">
          <ul class="portfolio-items">
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
            <li class="span3">
              <div class="portfolio-item">
                <img src="http://placehold.it/175x175" alt="">
                <p>Thumbnail caption...</p>
                <small>Oil on canvas </small>
              </div>
            </li>
          </ul>
        </div>

      <div class="social-media">
          <img class="social-media-icon" src="http://themes.siiimple.com/zoho/wp-content/themes/zoho/framework/images/twitter.png">
        <p class="social-media-message">@Twitter Hello social media message goes here</p>

      </div>  

      </div>
    </div>