<!DOCTYPE html>
<html lang="en" ng-app="artistAdminApp">
  <head>
    <meta charset="utf-8">
    <title>Carousel Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="/admin/"/>

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      margin-top: 60px;
      color: #5a5a5a;
    }

    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="AdminNavCtrl">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Artist Admin Portal</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li ng-class="{active: routeIs('/')}"><a href="/admin/dashboard">Dashboard</a></li>
              <li ng-class="{active: routeIs('/paintings')}"><a href="/admin/paintings">Artwork</a></li>
              <li ng-class="{active: routeIs('/customers')}"><a href="/admin/customers">Customers</a></li>
              <li><a href="#contact">Galleries</a></li>
              <li ng-class="{active: routeIs('/sales')}"><a href="/admin/sales">Sales</a></li>
              <li ng-class="{active: routeIs('/mailinglist')}"><a href="/admin/mailinglist">Mailing List</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <ng-view></ng-view>

    



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="../js/lib/ui-bootstrap-0.2.0.min.js"></script>

    <script src="../js/admin/admin.js"></script>
    <script src="../js/admin/controllers.js"></script>

  </body>
</html>